db/xsd/gov/hhs/cms/base/vo/NoteVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.base.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.base.cms.hhs.gov" 
	xmlns:vo="http://vo.base.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/base/vo/BinaryFileVO.xsd"/>
    <xsd:element name="noteVO" type="impl:NoteVO"/>
	<xsd:complexType name="NoteVO">
        <xsd:sequence>
			<xsd:element name="noteText" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="createdDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="createdBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="documentList" type="vo:BinaryFileVO" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
