spec/vocabularies/premium.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified">
	<xs:include schemaLocation="common.xsd"/>
	<xs:element name="premium_payment"/>
	<xs:element name="premium_statement"/>
	<xs:complexType name="PremiumStatementType"/>
	<xs:complexType name="PremiumPaymentType">
		<xs:annotation>
			<xs:documentation>An HBX health benefit premium</xs:documentation>
		</xs:annotation>	
			<xs:group ref="HbxIdentifierGroup"/>
	</xs:complexType>
	<xs:complexType name="PremiumPaymentRequestType">
		<xs:annotation>
			<xs:documentation>Service call to premium payment resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="authorization" type="xs:string">
									<xs:annotation>
										<xs:documentation>Authentication/authorization credentials</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="message_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Value that uniqely identifies message</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="originating_service" type="xs:anyURI" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The urn of the requesting service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="reply_to" type="xs:anyURI" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Designates the consumer service urn endpoint where to transmit response</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="request">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceRequestType">
							<xs:sequence>
								<xs:element name="request_name" type="PremiumPaymentRequestNameType">
									<xs:annotation>
										<xs:documentation>Uniform Resource Name (URN) for this request</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="parameters" type="xs:anyType" minOccurs="0"/>
								<xs:element name="metadata" type="ServiceMetadataType" minOccurs="0"/>
								<xs:element name="body" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:restriction base="ServiceBodyType">
												<xs:sequence>
													<xs:element ref="premium_payment"/>
												</xs:sequence>
											</xs:restriction>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PremiumPaymentRequestNameType">
		<xs:annotation>
			<xs:documentation>Request methods for Premium Payment resource</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:requests:v1:premium_payments"/>
			<xs:enumeration value="urn:openhbx:requests:v1:premium_payments#by_id"/>
			<xs:enumeration value="urn:openhbx:requests:v1:premium_payments#allocate"/>
			<xs:enumeration value="urn:openhbx:requests:v1:premium_payments#reverse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PremiumPaymentEventType">
		<xs:annotation>
			<xs:documentation>Message structure for SHOP employer event</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="authorization" type="xs:string">
									<xs:annotation>
										<xs:documentation>Authentication/authorization credentials</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="message_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Value that uniqely identifies message</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="originating_service" type="xs:anyURI">
									<xs:annotation>
										<xs:documentation>The urn of the requesting service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="event">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceEventType">
							<xs:sequence>
								<xs:element name="event_name" type="PremiumPaymentEventNameType"/>
								<xs:element ref="premium_payment_uri"/>
								<xs:element name="body" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:restriction base="ServiceBodyType">
												<xs:sequence>
													<xs:element ref="premium_payment"/>
												</xs:sequence>
											</xs:restriction>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PremiumPaymentEventNameType">
		<xs:annotation>
			<xs:documentation>Event notification types for Premium Payments</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:events:v1:employers#received"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#allocated"/>
			<xs:enumeration value="urn:openhbx:events:v1:employers#reversed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PremiumPaymentResponseType">
		<xs:annotation>
			<xs:documentation>Response message for  Premium Payment request</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceHeaderType">
							<xs:sequence>
								<xs:element name="hbx_id" type="xs:string">
									<xs:annotation>
										<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="submitted_timestamp" type="xs:dateTime">
									<xs:annotation>
										<xs:documentation>UTC date and time when event occured</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="status" type="ServiceStatusType">
									<xs:annotation>
										<xs:documentation>Indicate success or failure of a request to a service</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlation_id" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="metadata">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceMetadataType">
							<xs:sequence>
								<xs:element name="result_set" type="ServiceResultSetType"/>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="body">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="ServiceBodyType">
							<xs:sequence>
								<xs:element name="premium_payments">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="premium_payment" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
<xs:element name="premium_payment_uri" type="IdentifierType" substitutionGroup="resource_instance_uri">
		<xs:annotation>
			<xs:documentation>Dereferenceable identifier for a premium payment instance</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
