db/xsd/gov/hhs/cms/ffe/vo/CostShareVarianceVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:include schemaLocation="SBCVO.xsd"/>
	<xsd:include schemaLocation="PlanDeductibleVO.xsd"/>
	<xsd:include schemaLocation="ServiceVisitVO.xsd"/>
	<xsd:include schemaLocation="MoopVO.xsd"/>
	<xsd:element name="costShareVarianceVO" type="impl:CostShareVarianceVO"/>
	<xsd:complexType name="CostShareVarianceVO">
		<xsd:all>
			<xsd:element name="planId" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="planMarketingName" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="metalLevel" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="csrVariationType" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="issuerActuarialValue" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="avCalculatorOutputNumber" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="medicalAndDrugDeductiblesIntegrated" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="medicalAndDrugMaxOutOfPocketIntegrated" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="multipleProviderTiers" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="firstTierUtilization" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="secondTierUtilization" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="sbc" type="vo:SBCVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="moopList" type="vo:MoopListVO" minOccurs="1" maxOccurs="1"/>	
					<xsd:element name="planDeductibleList" type="vo:PlanDeductibleListVO" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="serviceVisitList" type="vo:ServiceVisitListVO" minOccurs="0" maxOccurs="1"/>
					
			<xsd:element name="defaultCopayInNetwork" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="defaultCopayOutOfNetwork" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="defaultCoInsuranceInNetwork" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="defaultCoInsuranceOutOfNetwork" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="MoopListVO">		
	   <xsd:sequence>
			<xsd:element name="moop" type="vo:MoopVO" minOccurs="1" maxOccurs="unbounded"/>	
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="PlanDeductibleListVO">		
	   <xsd:sequence>
			<xsd:element name="planDeductible" type="vo:PlanDeductibleVO" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="ServiceVisitListVO">		
	   <xsd:sequence>
			<xsd:element name="serviceVisit" type="vo:ServiceVisitVO" minOccurs="0" maxOccurs="unbounded"/>	
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
