db/xsd/gov/hhs/cms/ffe/vo/DrugListVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by CGI (CGI FEDERAL) -->
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/DrugTierLevelVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/DrugVO.xsd"/>
	<xsd:element name="drugListVO" type="impl:DrugListVO"/>
	<xsd:complexType name="DrugListVO">
		<xsd:all>
			<xsd:element name="drugListID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="drugTierLevelList" type="vo:DrugTierLevelVOList" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="drugVOList" type="vo:DrugVOList" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="DrugTierLevelVOList">			   
		<xsd:sequence>			
			<xsd:element name="drugTierLevelVO" type="vo:DrugTierLevelVO" minOccurs="1" maxOccurs="unbounded"/>			
		</xsd:sequence>	
	</xsd:complexType>
	<xsd:complexType name="DrugVOList">			   
		<xsd:sequence>			
			<xsd:element name="drugVO" type="vo:DrugVO" minOccurs="1" maxOccurs="unbounded"/>			
		</xsd:sequence>	
	</xsd:complexType>	
</xsd:schema>
