db/xsd/gov/hhs/cms/ffe/vo/DrugTierLevelVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.ffe.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.ffe.cms.hhs.gov" 
	xmlns:vo="http://vo.ffe.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd"/>
    <xsd:element name="drugTierLevelVO" type="impl:DrugTierLevelVO"/>
	<xsd:complexType name="DrugTierLevelVO">
        <xsd:sequence>
	        <xsd:element name="drugTierLevel" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="drugTierType" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
