db/xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:element name="excelCellVO" type="impl:ExcelCellVO"/>
	<xsd:complexType name="ExcelCellVO">
		<xsd:all>
			<xsd:element name="cellName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="cellValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="rowNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="colNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
		<xsd:attribute name="cellLocation" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>
