db/xsd/gov/hhs/cms/ffe/vo/FormularyCostSharingTypeVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/CostSharingTypeVO.xsd"/>
	<xsd:element name="formularyCostSharingTypeVO" type="impl:FormularyCostSharingTypeVO"/>
	<xsd:complexType name="FormularyCostSharingTypeVO">
		<xsd:all>
			<xsd:element name="drugTierLevel" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="oneMonthOutNetworkRetailOfferedIndicator" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="threeMonthInNetworkMailOfferedIndicator" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="threeMonthOutNetworkMailOfferedIndicator" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="costSharingTypeList" type="vo:CostSharingTypeVOList" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="CostSharingTypeVOList">			   
		<xsd:sequence>			
			<xsd:element name="costSharingTypeVO" type="vo:CostSharingTypeVO" minOccurs="1" maxOccurs="unbounded"/>			
		</xsd:sequence>	
	</xsd:complexType>	
</xsd:schema>
