db/xsd/gov/hhs/cms/ffe/vo/FormularyVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/FormularyCostSharingTypeVO.xsd"/>
	<xsd:element name="formularyVO" type="impl:FormularyVO"/>
	<xsd:complexType name="FormularyVO">
		<xsd:all>
			<xsd:element name="formularyID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="formularyUrl" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="drugListID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="numberTiers" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="formularyCostSharingTypeList" type="vo:FormularyCostSharingTypeVOList" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="FormularyCostSharingTypeVOList">			   
		<xsd:sequence>			
			<xsd:element name="formularyCostSharingTypeVO" type="vo:FormularyCostSharingTypeVO" minOccurs="1" maxOccurs="unbounded"/>			
		</xsd:sequence>	
	</xsd:complexType>
</xsd:schema>
