db/xsd/gov/hhs/cms/ffe/vo/HeaderVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Dan Thomas (private) -->
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:element name="headerVO" type="impl:HeaderVO"/>
	<xsd:complexType name="HeaderVO">
		<xsd:all>
			<xsd:element name="templateVersion"/>
			<xsd:element name="issuerId" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="statePostalCode" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="statePostalName" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="marketCoverage" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dentalPlanOnlyInd" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tin" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="applicationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
