db/xsd/gov/hhs/cms/ffe/vo/MoopVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:element name="moopVO" type="impl:MoopVO"/>
	<xsd:complexType name="MoopVO">
		<xsd:all>
			<xsd:element name="name" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="inNetworkTier1IndividualAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="inNetworkTier1FamilyAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="inNetworkTier2IndividualAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="inNetworkTier2FamilyAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="outOfNetworkIndividualAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="outOfNetworkFamilyAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="combinedInOutNetworkIndividualAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="combinedInOutNetworkFamilyAmount" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
