db/xsd/gov/hhs/cms/ffe/vo/PlanAttributeVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:element name="planAttributeVO" type="impl:PlanAttributeVO"/>
	<xsd:complexType name="PlanAttributeVO">
		<xsd:all>
			<xsd:element name="standardComponentID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="planMarketingName" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hiosProductID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hpid" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="networkID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="serviceAreaID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="formularyID" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="isNewPlan" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="planType" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="metalLevel" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="uniquePlanDesign" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="qhpOrNonQhp" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="insurancePlanPregnancyNoticeReqInd" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="isSpecialistReferralRequired" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="healthCareSpecialistReferralType" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="insurancePlanBenefitExclusionText" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="indianPlanVariation" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="hsaEligibility" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="employerHSAHRAContributionIndicator" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="empContributionAmountForHSAOrHRA" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="childOnlyOffering" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="childOnlyPlanID" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="isWellnessProgramOffered" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="isDiseaseMgmtProgramsOffered" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
           	<xsd:element name="ehbApportionmentForPediatricDental" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="guaranteedVsEstimatedRate" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="maximumCoinsuranceForSpecialtyDrugs" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="maxNumDaysForChargingInpatientCopay" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="beginPrimaryCareDeductibleOrCoinsuranceAfterSetNumberCopays" type="vo:ExcelCellVO"  minOccurs="0" maxOccurs="1"/>
			<xsd:element name="beginPrimaryCareCostSharingAfterSetNumberVisits" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="planEffectiveDate" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="planExpirationDate" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/> 
			<xsd:element name="outOfCountryCoverage" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="outOfCountryCoverageDescription" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="outOfServiceAreaCoverage" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="outOfServiceAreaCoverageDescription" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="nationalNetwork" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="summaryBenefitAndCoverageURL" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="enrollmentPaymentURL" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="planBrochure" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			</xsd:all>
	</xsd:complexType> 
</xsd:schema>
