db/xsd/gov/hhs/cms/ffe/vo/PlanAndBenefitsVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="PlanAttributeVO.xsd"/>
	<xsd:include schemaLocation="BenefitAttributeVO.xsd"/>
	<xsd:include schemaLocation="CostShareVarianceVO.xsd"/>
	<xsd:element name="planAndBenefitsVO" type="impl:PlanAndBenefitsVO"/>
	<xsd:complexType name="PlanAndBenefitsVO">
		<xsd:all>
			<xsd:element name="planAttributes" type="vo:PlanAttributeVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="benefitAttributesList" type="vo:BenefitAttributesListVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="costShareVariancesList" type="vo:CostShareVariancesListVO" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="BenefitAttributesListVO">
        <xsd:sequence>
			<xsd:element name="benefitAttributes" type="vo:BenefitAttributeVO" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>	
	</xsd:complexType>

	<xsd:complexType name="CostShareVariancesListVO">
        <xsd:sequence>
			<xsd:element name="costShareVariance" type="vo:CostShareVarianceVO" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>	
	</xsd:complexType>
</xsd:schema>
