db/xsd/gov/hhs/cms/ffe/vo/QhpApplicationStatementSectionVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.ffe.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.ffe.cms.hhs.gov" 
	elementFormDefault="qualified">
    <xsd:element name="qhpApplicationStatementSectionVO" type="impl:QhpApplicationStatementSectionVO"/>
	<xsd:complexType name="QhpApplicationStatementSectionVO">
        <xsd:sequence>
			<xsd:element name="sequence" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
