db/xsd/gov/hhs/cms/ffe/vo/QhpApplicationEcpProviderVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:element name="qhpApplicationEcpProviderVO" type="impl:QhpApplicationEcpProviderVO"/>
	<xsd:complexType name="QhpApplicationEcpProviderVO">
		<xsd:all>
			<xsd:element name="applicationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="npi" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="providerName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="providerType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ecpCategory" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="streetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="city" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="state" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="networkId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="onEcpList" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="streetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
