db/xsd/gov/hhs/cms/ffe/vo/QhpApplicationRateItemVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd"/>
	<xsd:element name="qhpApplicationRateItemVO" type="impl:QhpApplicationRateItemVO"/>
	<xsd:complexType name="QhpApplicationRateItemVO">
		<xsd:all>
			<xsd:element name="effectiveDateValue" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="expirationDateValue" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="planIdValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="rateAreaIdValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ageNumberValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tobaccoValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coupleEnrolleeValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coupleEnrolleeOneDependentValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coupleEnrolleeTwoDependentValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coupleEnrolleeManyDependentValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeOneDependentValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeTwoDependentValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeManyDependentValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="effectiveDate" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="expirationDate" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="planId" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="rateAreaId" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ageNumber" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tobacco" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="primaryEnrollee" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="coupleEnrollee" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coupleEnrolleeOneDependent" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coupleEnrolleeTwoDependent" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coupleEnrolleeManyDependent" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeOneDependent" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeTwoDependent" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeManyDependent" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="isIssuerData" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeTobacco" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="primaryEnrolleeTobaccoValue" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
