sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/BenefitAttributeVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:element name="benefitAttributeVO" type="impl:BenefitAttributeVO"/>
	<xsd:complexType name="BenefitAttributeVO">
		<xsd:all>
			<xsd:element name="benefitTypeCode" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="isEHB" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="isStateMandate" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="isBenefitCovered" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="serviceLimit" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="quantityLimit" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="unitLimit" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="minimumStay" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="exclusion" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="explanation" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ehbVarianceReason" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="subjectToDeductibleTier1" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="subjectToDeductibleTier2" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="excludedInNetworkMOOP" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="excludedOutOfNetworkMOOP" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
