sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/PlanAndBenefitsPackageVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Dan Thomas (private) -->
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="HeaderVO.xsd"/>
	<xsd:include schemaLocation="BenefitAttributeVO.xsd"/>
	<xsd:include schemaLocation="PlanAndBenefitsVO.xsd"/>
	<xsd:element name="planAndBenefitsPackageVO" type="impl:PlanAndBenefitsPackageVO"/>
	<xsd:complexType name="PlanAndBenefitsPackageVO">
		<xsd:all>
			<xsd:element name="header" type="vo:HeaderVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="benefitsList" type="vo:BenefitsListVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="plansList" type="vo:PlansListVO" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="BenefitsListVO">
		<xsd:sequence>
			<xsd:element name="benefits" type="vo:BenefitAttributeVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlansListVO">
		<xsd:sequence>
			<xsd:element name="plans" type="vo:PlanAndBenefitsVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
