sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/PlanBenefitTemplateVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="PlanAndBenefitsPackageVO.xsd"/>
	<xsd:element name="planBenefitTemplateVO" type="impl:PlanBenefitTemplateVO"/>
	<xsd:complexType name="PlanBenefitTemplateVO">
		<xsd:all>
			<xsd:element name="applicationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastModifiedBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastModifiedDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="packagesList" type="vo:PackageListVO" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="PackageListVO">
		<xsd:sequence>
			<xsd:element name="packages" type="vo:PlanAndBenefitsPackageVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
