sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/QhpApplicationStatementVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by CGI (CGI FEDERAL) -->
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema targetNamespace="http://vo.ffe.cms.hhs.gov" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.base.cms.hhs.gov" xmlns:vo1="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:import schemaLocation="../../../../../../xsd/gov/hhs/cms/base/vo/BinaryFileVO.xsd" namespace="http://vo.base.cms.hhs.gov"/>
	<xsd:import schemaLocation="../../../../../../xsd/gov/hhs/cms/base/vo/NoteVO.xsd" namespace="http://vo.base.cms.hhs.gov"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/QhpApplicationStatementSectionVO.xsd"/>
	<xsd:element name="qhpApplicationStatementVO" type="impl:QhpApplicationStatementVO"/>
	<xsd:complexType name="QhpApplicationStatementVO">
		<xsd:sequence>
			<xsd:element name="statementText" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="statementResponseText" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="sequence" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="documentUploadRequiredIndicator" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="yesResponseDocumentRequired" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="noResponseDocumentRequired" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="documents" type="vo:BinaryFileVO" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="notes" type="vo:NoteVO" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="notesOptionalIndicator" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="subsection" type="vo1:QhpApplicationStatementSectionVO" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
