sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/QhpApplicationEcpVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.base.cms.hhs.gov" xmlns:vo1="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:import namespace="http://vo.base.cms.hhs.gov" schemaLocation="../../../../../../xsd/gov/hhs/cms/base/vo/BinaryFileVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/QhpApplicationEcpProviderVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/QhpApplicationStatementVO.xsd"/>
	<xsd:element name="qhpApplicationEcpVO" type="impl:QhpApplicationEcpVO"/>
	<xsd:complexType name="QhpApplicationEcpVO">
        <xsd:sequence>
    		<xsd:element name="issuerId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="stateCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="companyLegalName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="applicationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="documents" type="vo:BinaryFileVO" minOccurs="0" maxOccurs="unbounded"/>
	        <xsd:element name="qhpApplicationEcpProvider" type="vo1:QhpApplicationEcpProviderVO" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="statusCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastModifiedDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastModifiedBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="statements" type="vo1:QhpApplicationStatementVO" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="attestationIndicator" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="saveAsDraftIndicator" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
