sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/QhpApplicationRateGroupVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/QhpApplicationRateHeaderVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/QhpApplicationRateItemVO.xsd"/>
	<xsd:element name="qhpApplicationRateGroupVO" type="impl:QhpApplicationRateGroupVO"/>
	<xsd:complexType name="QhpApplicationRateGroupVO">
		<xsd:sequence>
			<xsd:element name="header" type="vo:QhpApplicationRateHeaderVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="items" type="vo:QhpApplicationRateItemVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
