sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/SBCVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:element name="sBCVO" type="impl:SBCVO"/>
	<xsd:complexType name="SBCVO">
		<xsd:all>
			<xsd:element name="havingBabyDeductible" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="havingBabyCoPayment" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="havingBabyCoInsurance" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="havingBabyLimit" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="havingDiabetesDeductible" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="havingDiabetesCopay" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="havingDiabetesCoInsurance" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="havingDiabetesLimit" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
