components/sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/CostSharingTypeVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema
	targetNamespace="http://vo.ffe.cms.hhs.gov"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:impl="http://vo.ffe.cms.hhs.gov" 
	xmlns:vo="http://vo.ffe.cms.hhs.gov"
	elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd"/>
    <xsd:element name="costSharingTypeVO" type="impl:CostSharingTypeVO"/>
	<xsd:complexType name="CostSharingTypeVO">
        <xsd:sequence>
			<xsd:element name="networkCostType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="drugPrescriptionPeriodType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="costSharingType" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="coPayment" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="coInsurance" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
