components/sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/PlanDeductibleVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:element name="planDeductibleVO" type="impl:PlanDeductibleVO"/>
	<xsd:complexType name="PlanDeductibleVO">
		<xsd:all>
			<xsd:element name="deductibleType" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="inNetworkTier1Individual" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="inNetworkTier1Family" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coinsuranceInNetworkTier1" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="inNetworkTierTwoIndividual" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="inNetworkTierTwoFamily" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coinsuranceInNetworkTier2" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="outOfNetworkIndividual" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="outOfNetworkFamily" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coinsuranceOutofNetwork" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="combinedInOrOutNetworkIndividual" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="combinedInOrOutNetworkFamily" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="combinedInOrOutTier2" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
