components/sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/PrescriptionDrugTemplateVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/HeaderVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/DrugListVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/FormularyVO.xsd"/>
	<xsd:element name="prescriptionDrugTemplateVO" type="impl:PrescriptionDrugTemplateVO"/>
	<xsd:complexType name="PrescriptionDrugTemplateVO">
		<xsd:all>
			<xsd:element name="header" type="vo:HeaderVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="drugList" type="vo:DrugListVOList" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="formularyList" type="vo:FormularyVOList" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="DrugListVOList">
		<xsd:sequence>
			<xsd:element name="drugListVO" type="vo:DrugListVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FormularyVOList">
		<xsd:sequence>
			<xsd:element name="formularyVO" type="vo:FormularyVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
