components/sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/QhpApplicationRateHeaderVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.base.cms.hhs.gov" xmlns:vo1="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:import namespace="http://vo.base.cms.hhs.gov" schemaLocation="../../../../../../xsd/gov/hhs/cms/base/vo/BinaryFileVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/QhpApplicationStatementVO.xsd"/>
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/ffe/vo/ExcelCellVO.xsd"/>
	<xsd:element name="qhpApplicationRateHeaderVO" type="impl:QhpApplicationRateHeaderVO"/>
	<xsd:complexType name="QhpApplicationRateHeaderVO">
		<xsd:all>
			<xsd:element name="applicationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastModifiedDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastModifiedBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="documents" type="vo1:BinaryFileVOList" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="statements" type="vo1:QhpApplicationStatementVOList" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="attestationIndicator" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tin" type="vo1:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="issuerId" type="vo1:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
		</xsd:all>
	</xsd:complexType>	
	<xsd:complexType name="BinaryFileVOList">
		<xsd:sequence>
			<xsd:element name="binaryFileVO" type="vo:BinaryFileVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="QhpApplicationStatementVOList">
		<xsd:sequence>
			<xsd:element name="binaryFileVO" type="vo1:QhpApplicationStatementVO" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>			
</xsd:schema>
