components/sponsored_benefits/db/xsd/gov/hhs/cms/ffe/vo/ServiceVisitVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.ffe.cms.hhs.gov" xmlns:vo="http://vo.ffe.cms.hhs.gov" targetNamespace="http://vo.ffe.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="ExcelCellVO.xsd"/>
	<xsd:element name="serviceVisitVO" type="impl:ServiceVisitVO"/>
	<xsd:complexType name="ServiceVisitVO">
		<xsd:all>
		    <xsd:element name="visitType" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="copayInNetworkTier1" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="copayInNetworkTier2" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="copayOutOfNetwork" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="coInsuranceInNetworkTier1" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="coInsuranceInNetworkTier2" type="vo:ExcelCellVO" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coInsuranceOutOfNetwork" type="vo:ExcelCellVO" minOccurs="1" maxOccurs="1"/>
			</xsd:all>
	</xsd:complexType>
</xsd:schema>
