sponsored_benefits/db/xsd/gov/hhs/cms/base/vo/BinaryFileVO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by CGI (CGI FEDERAL) -->
<!--
    Attention: Generated code! Do not modify by hand!
    Generated by: XmlSchema.vsl in andromda-xmlschema-cartridge.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vo.base.cms.hhs.gov" xmlns:vo="http://vo.base.cms.hhs.gov" targetNamespace="http://vo.base.cms.hhs.gov" elementFormDefault="qualified">
	<xsd:include schemaLocation="../../../../../../xsd/gov/hhs/cms/base/vo/NoteVO.xsd"/>
	<xsd:element name="binaryFileVO" type="impl:BinaryFileVO"/>
	<xsd:complexType name="BinaryFileVO">
		<xsd:sequence>
			<xsd:element name="fileName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="documentType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="content" type="xsd:base64Binary" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="createdDate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="createdBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="fileIdentifier" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="documentVersion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="carrierName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceType1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceType2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceType3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceType4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceValue1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceValue2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceValue3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="businessReferenceValue4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="notelist" type="vo:NoteVO" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ecmFolderPath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
